.container{
    max-width: 1200px;
    margin: 0 auto;
}
.sectionContainer{
    position: relative;
    padding: 5px 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 700px;
    }
    h2{
        color: #543a85;
        font-size: 30px;
        letter-spacing: 4px;
        padding-bottom: 20px;
    }
    p{
        font-size: 50px;
        padding: 25px 0;
        font-weight: 600;
    }
    .btn{
        padding: 14px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
    }
    .btn1{
        background-color: transparent;
        border: 2px solid white;
        color: white;
    }
    .btn2{
        margin-left: 15px;
        cursor: pointer;
    }
    .scroll{
        width: 55px;
        display: block;
        padding-top: 20px;
    }
    .slideText{
        width: 50%;
        margin-top: 400px;
        position: absolute;
        font-size: 50vh;
        white-space: nowrap;
        color: #ffffff09;
        font-weight: bold;
        z-index: -1;
    }
}