nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    max-width: 1200px;
    margin: 0 auto;

    h2{
        font-size: 18px;
    }

    ul{
        list-style: none;
        display: flex;
        gap: 10px;

        li{
            cursor: pointer;
        }

        img{
            width: 30px;
            height: 30px;
            border-radius: 10px;
        }
    }
}